table, td {
	border: solid 2px black;
}

table {
	border-collapse: collapse;
	width: 80%;
	margin: auto;
	text-align: center;
	background-color: rgb(255,192,203); opacity: 0.6;  
}

#col1 {
	width: 40%;
}

#col2, #col3 {
	width:30%;
}

td:first-child {
	text-align: left;
}